<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basanta's Journal</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body> 

    <div class="container">
      <div id="header"></div>
      <div id="sidebar">
        <div id="nav" class="sidebar"></div>
        <div id="wotd" class="sidebar"></div>
      </div>

      <div id="main">
        <article>
        <a href="/pages/blog.html"> &lt;-- Back To All Posts</a>
        <h1>TEMPLATE</h1>
          <details><summary>A monkey</summary>
            <figure>
              <img src="./pictures/IMG_0506 Medium.jpeg" style="max-width: 100%;" >
              <figcaption><i>I forgot to take many pictures during IO so here's this monkey I saw</i></figcaption>
            </figure>
          </details>
        <p><br>
          &lt;details&gt;&lt;summary&gt;<strong>SHORT DESC</strong>&lt;/summary&gt;<br>
            &lt;figure&gt;<br>
              &lt;img src="<strong>./pictures/SOURCE.jpeg</strong>" style="max-width: 100%;" &gt;<br>
              &ensp;&ensp;&lt;figcaption&gt;&lt;i&gt;<strong>CAPTION</strong>&lt;/i&gt;&lt;/figcaption&gt;<br>
            &lt;/figure&gt;<br>
          &lt;/details&gt;
        </p>
        <textarea style="width:100%; max-width:100%; height: 10em;"></textarea>

        <div class="commentbox"></div>
        <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
        <script>commentBox('5665501686530048-proj')</script>
      </article>
      </div>

      <div id="footer"></div>
    </div>

    <script src="/scripts/global.js"></script>
  </body>
</html>