<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basanta's Journal</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body> 

    <div class="container">
      <div id="header"></div>
      <div id="sidebar">
        <div id="nav" class="sidebar"></div>
        <div id="wotd" class="sidebar"></div>
      </div>

      <div id="main">
        <article>
        <a href="/pages/blog.html"> &lt;-- Back To All Posts</a>
        
        <p>TEMPLATE</p>

        <div class="commentbox"></div>
        <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
        <script>commentBox('5665501686530048-proj')</script>
      </article>
      </div>

      <div id="footer"></div>
    </div>

    <script src="/scripts/global.js"></script>
  </body>
</html>